body {
    font-family: Arial, sans-serif;
    background-color: #e7d6d6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #5c0404;
    margin-bottom: 20px;
}

form {
    background-color: #ad7676;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb2b2;
    border-radius: 4px;
}

button {
    background-color: #ddc2c2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b68882;
}

#erro {
    color: rgb(167, 5, 5);
    margin-top: 10px;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
